@model DiplomaProject.Models.OrderFeedback

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Відгук</h1>

<h4>Вудгук до замовлення</h4>
<hr/>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CustomerId" asp-items="ViewBag.CustomerId"/>
            <input type="hidden" asp-for="OrderId" asp-items="ViewBag.OrderId"/>
            
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control"/>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="Estimation" class="control-label"></label>
                <input asp-for="Estimation" class="form-control"/>
                <span asp-validation-for="Estimation" class="text-danger"></span>
            </div>
            
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsInTime"/> @Html.DisplayNameFor(model => model.IsInTime)
                </label>
            </div>
            
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsEverythingOkay"/> @Html.DisplayNameFor(model => model.IsEverythingOkay)
                </label>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Надіслати" class="btn btn-success mt-3"/>
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Повернутися до замовлення", "Details", "Order", new { id = ViewBag.OrderId }, new{@class="btn btn-primary mt-3"})
</div>