@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Вітаємо на платформі Handmade Space!</h1>

    <h4 class="pt-2">Новинки: </h4>
    @await Component.InvokeAsync("ProductsCards", new{productAction = "new"})

    <h4 class="pt-2">Популярні: </h4>
    @await Component.InvokeAsync("ProductsCards",new{productAction = "popular"})

    @await Component.InvokeAsync("CategoriesList")
    
</div>
