@model IEnumerable<DiplomaProject.Models.Subcategory>

<div class="list-group">
@foreach (var item in Model)
{
    <a asp-action="Index" asp-controller="Product" asp-route-subcategoryId="@item.Id" class="list-group-item list-group-item-action main-background-color">@item.Name</a>
}
</div>