@using Microsoft.AspNetCore.Mvc.ModelBinding
@model DiplomaProject.Models.ProductInOrder

@{
    ViewData["Title"] = "Create";
}

<h1>Замовлення</h1>

<h4>Замовити товар</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <input type="hidden" asp-for="ProductId" asp-items="ViewBag.ProductId"/>
                <input type="hidden" value="@ViewBag.ShopProfileId" asp-items="ViewBag.ShopProfileId"/>
            </div>
            
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            
            @* @if (ViewBag.CartShopProfileError != null) *@
            @* { *@
            @*     <div class="alert alert-dismissible alert-danger"> *@
            @*         @ViewBag.CartShopProfileError *@
            @*     </div> *@
            @* } *@
            
            <div class="form-group mt-3">
                <input type="submit" value="Додати до замовлення" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="pt-3">
    <a class="btn btn-info" asp-action="Index" asp-controller="Product">Повернутися до покупок</a>
</div>

