@model DiplomaProject.Models.ShopProfile

<div data-bs-toggle="tooltip" data-bs-placement="bottom" title="Мій магазин">
    @Html.ActionLink("", "Details", "ShopProfile", new { id = Model.Id }, new { @class = "my-btn fa-solid fa-store fa-2x secondary-color" })
</div>