@model IEnumerable<DiplomaProject.Models.ShopProfile>

@if (Model.Count() != 0)
{
    <i class="fa-solid fa-store" style="color:green;"></i>
    <a asp-action="Index" asp-controller="ShopProfile" asp-route-salesmanId="@ViewBag.UserId">Мої магазини</a>
}

@* <h4>Список пользователей</h4> *@
@* <ul> *@
@*     @foreach (var shop in Model) *@
@*     { *@
@*         <a asp-action="Details" asp-controller= "ShopProfile" asp-route-id="@shop.Id">Мій магазин</a> *@
@*     } *@
@* </ul> *@